[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.16"
gunicorn = "==23.0.0"
whitenoise = "==6.7.0"
pillow = "==11.0.0"
asgiref = "==3.8.1"
crispy-bootstrap4 = "==2024.10"
django-crispy-forms = "==2.3"
packaging = "==24.1"
plotly = "==5.24.1"
sqlparse = "==0.5.1"
tenacity = "==9.0.0"
typing-extensions = "==4.12.2"
certifi = "==2024.8.30"
charset-normalizer = "==3.4.0"
django-widget-tweaks = "==1.5.0"
idna = "==3.10"
requests = "==2.32.3"
urllib3 = "==2.2.3"

[dev-packages]

[requires]
python_version = "3.9"
